groups:
- name: alert.rules
  rules:
  {% for rule in ruleset %}
  - alert: {{ rule.name }}
    expr: {{ rule.expr }}
    for: {{ rule.for }}
    labels:
      severity: warning
    annotations:
      summary: {{ rule.summary }}
      description: {{ rule.desc }}
  {% endfor %}
